@keyframes HeroText {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Body {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Scroll effects: */
/* Animations for Text */
[data-scroll] {
  transition: opacity 1s linear, transform 1s ease;
}

[data-scroll=in] {
  opacity: 1;
  transform: translateY(0);
}

[data-scroll=out] {
  opacity: 0;
  transform: translateY(100px);
}

/* animation for Images */
.animation-from-right[data-scroll],
.animation-from-left[data-scroll] {
  transition: right 1s ease, opacity 1s linear;
  position: relative;
}

.animation-from-right[data-scroll=in],
.animation-from-left[data-scroll=in] {
  right: 0px;
  opacity: 1;
}

.animation-from-right[data-scroll=out] {
  right: -100px;
  opacity: 0;
}

.animation-from-left[data-scroll=out] {
  right: 150px;
  opacity: 0;
}

.animation-from-bottom[data-scroll] {
  transition: top 1s ease, opacity 1s linear;
  position: relative;
}

.animation-from-bottom[data-scroll=out] {
  top: 150px;
  opacity: 0;
}

.animation-from-bottom[data-scroll=in] {
  top: 0;
  opacity: 1;
}

* {
  font-family: "Montserrat", "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: repeating-linear-gradient(-45deg, rgba(70, 70, 70, 0.04) 0%, rgba(70, 70, 70, 0.04) 2%, transparent 2%, transparent 3%, rgba(70, 70, 70, 0.04) 3%, rgba(70, 70, 70, 0.04) 7%, transparent 7%, transparent 8%, rgba(70, 70, 70, 0.04) 8%, rgba(70, 70, 70, 0.04) 10%, transparent 10%, transparent 12%), repeating-linear-gradient(45deg, rgba(70, 70, 70, 0.04) 0%, rgba(70, 70, 70, 0.04) 2%, transparent 2%, transparent 3%, rgba(70, 70, 70, 0.04) 3%, rgba(70, 70, 70, 0.04) 7%, transparent 7%, transparent 8%, rgba(70, 70, 70, 0.04) 8%, rgba(70, 70, 70, 0.04) 10%, transparent 10%, transparent 12%), rgb(37, 37, 37);
}

p {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie-Flower", "Pacifico", cursive;
}

img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

a {
  color: grey;
  text-decoration: none;
  transition: color 0.2s linear;
}
a:hover, a:focus {
  color: dimgrey;
}

table {
  border: 2px solid white;
  padding: 50px;
}
table td {
  padding: 10px;
}

video {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Hero-Image {
  min-width: 100%;
  height: 100vh;
  min-height: 500px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  opacity: 0.6;
  display: grid;
  box-shadow: inset 0px -10px 7px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  right: 0;
  transition: right 1s ease;
}
.Hero-Image article {
  color: white;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.015) 0%, rgba(0, 0, 0, 0.015) 5%, transparent 5%, transparent 12.5%), repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.015) 0%, rgba(0, 0, 0, 0.015) 5%, transparent 5%, transparent 12.5%), rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  height: inherit;
  min-height: inherit;
  width: 30%;
  color: rgb(60, 60, 60);
  margin-left: 10%;
  overflow-y: auto;
}
.Hero-Image article .Hero-text-container p {
  flex: 1;
  font-size: 1.2em;
  animation: HeroText 1s ease;
  position: relative;
  margin: 0 10%;
}
.Hero-Image article .Hero-text-container h1 {
  flex: 1;
  font-size: 4em;
  animation: HeroText 1s ease;
  position: relative;
  margin: 0 10%;
}
.Hero-Image article .Hero-text-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1501px) {
  .Hero-Image {
    right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .Hero-Image article {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .Hero-Image {
    height: auto;
    min-height: none;
  }
  .Hero-Image article {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    height: auto;
    width: 100%;
    color: white;
    margin: 0;
  }
}
footer {
  width: 100%;
  height: 60px;
  background-color: black;
  display: inline-table;
}
footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}/*# sourceMappingURL=mainstyles.css.map */